@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

body{
	width: 100%;
	position: relative;
	padding-top: 70px;
}

.navbar{
	width: 100%;
	height: 3vw;
	padding: 0.2vw 0;
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	border-bottom: 1px solid #F9F5EB;
}

.logo{
	height: 100%;
	margin-top: 0.2vw;
}

.navbar-wrapper{
	height: 100%;
	width: 70%;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-box{
	width: 10vw;
	height: 2vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid rgb(143, 138, 138);
	border-radius: 5px;
	text-align: center;
}

.nav-items{
	position: relative;
	height: 1vw;
}

.icon{
	height: 100%;
	cursor: pointer;
}

.main{
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.main-wrapper{
	width: 100%;
	max-width: 1000px;
}

.status-wrapper{
	width: 100%;
	height: 120px;
	border: 1px solid #F9F5EB;
	border-radius: 2px;
	padding: 10px;
	padding-right: 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	overflow-x: auto;
}

.status-card{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	max-width: 80px;
	align-items: center;
	margin-right: 15px;
}

.profile-pic{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	padding: 3px;
	background: linear-gradient(45deg, blue, green 80%);
}

.profile-pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid white;
}

.usrname{
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
}

.posts{
	width: 100%;
	height: 600px;
	margin-top: 10px;
	border: 1px solid #F9F5EB;
}

.info{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.info .usrname{
	width: auto;
	font-weight: bold;
	font-size: 14px;
	color: black;
	margin-left: 10px;
}

.info .options{
	height: 10px;
	cursor: pointer;
}

.info .user{
	display: flex;
	align-items: center;
}

.info .profile-pic{
	width: 50px;
	height: 50px;
	background: none;
}

.post-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post-content{
	width: 100%;
	padding: 20px;
}

.likes{
	font-weight: bold;
}

.description{
	margin: 10px 0;
	font-size: 14px;
	line-height: 20px;
}

.description span{
	font-weight: bold;
	margin-right: 10px;
}

.time{
	color: rgb(75, 75, 80);
	font-size: 12px;
}

.comment-wrapper{
	width: 100%;
	height: 50px;
	border: 1px solid #F9F5EB;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment-wrapper .icon{
	height: 30px;
	width: 30px;
	margin-left: 10px;
	border-radius: 50%;
	cursor: auto;
}

.comment-box{
	width: 85%;
	height: 48px;
	border: none;
	outline: none;
	font-size: 14px;
}

.comment-button{
	height: 100%;
	width: 70px;
	background: none;
	border: none;
	outline: none;
	text-transform: capitalize;
	font-size: 16px;
	color: black;
	opacity: 0.5;
}

.reaction-wrapper{
	width: 100%;
	height: 50px;
	display: flex;
	margin-top: -20px;
	align-items: center;
}

.reaction-wrapper .icon{
	height: 35px;
	margin: 0;
	margin-right: 20px;
}


/*responsive design for medium-sized screens*/
@media (max-width:1100px){
	.search-box{
		display: none;
	}

	.main-wrapper, .navbar-wrapper{
		width: 90%;
	}
}

/*responsive design for small screens*/
@media (max-width:500px){
	.nav-items .icon{
		margin: 0 5px;
	}

	.post-img{
		height: 300px;

	}
}

/*Login page*/
.form-container{
	width: 100%;
	margin-top: 100px;
	flex-grow: 1;
	display: flex;
	flex-direction:r column;
	justify-content: center;
}

.box{
	border: 1px solid #F9F5EB;
	border-radius: 3px;
}

.form-content{
	margin-bottom: 10px;
	padding: 10px;
}

.form-content .logo{
	text-align: center;
	height: 50px;
	width: 180px;
	margin: 10px auto 100px auto;
}

.login-form{
	padding-top: 25px;
	margin-bottom: 10px;
}

.form-info{
	margin: 0 40px 10px;
}

.login-input{
	height: 35px;
	border: 1px solid #F9F5EB;
	border-radius: 3px;
	position: relative;
}

.login-input input{
	width: 100%;
	height: 100%;
	padding: 15px;
	border: none;
	font-size: 18px;
	background-color: rgb(252, 252, 252);
}

.login-input input::placeholder{
	font-size: 12px;
}

.btn-part{
	 padding: 8px 40px;
	 width: 100%;
}

.login-btn{
	width: 100%;
	height: 30px;
	border: 1px solid transparent;
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	color: rgb(61, 60, 60);
	font-weight: 600;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}

.not-user-yet p{
	color: rgb(122, 120, 120);
	font-size: 14px;
}

.not-user-yet a{
	text-decoration: none;
	font-weight: 600;
}

.my-footer{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 12px;
}

/*Profile page*/

.profile-header{
	margin-top: 30px;
}

.profile-container{
	max-width: 95.5rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.profile-btn{
	display: inline-block;
	font: inherit;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	background: none;
}

.profile-btn:focus{
	outline: 0.5rem auto rgb(192, 192, 228);
}

.profile{
	padding: 5rem 0;
}

.profile::after{
	content: "";
	display: block;
	clear: both;
}

.profile-img{
	float: left;
	width: calc(33.333% - 1rem );
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3rem;
}

.profile-img img{
	border-radius: 50%;
	width:  150px;
	height: 150px;
}

.profile-user-settings, .profile-stats, .profile-bio{
	float: left;
	width: calc(66.666% - 2rem);
}

.profile-user-settings{
	margin-top: 1.1rem;
}

.profile-user-name{
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
}

.profile-edit-btn{
	font-size: 1.2rem;
	line-height: 1.6rem;
	border: 0.1rem solid rgb(231, 227, 227);
	border-radius: 0.3rem;
	padding: 0 2.4rem;
	margin-left: 2rem;
}

.profile-settings-btn{
	font-size: 2rem;
	margin-left: 1rem;
}

.profile-stats{
	margin-top: 2.3rem;
}

.profile-stats li{
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.5rem;
	margin-right: 4rem;
	cursor: pointer;
}

.profile-bio{
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5rem;
	margin-top: 2.3rem;
	padding-left: 1rem;
}
.profile-real-name, .profile-stat-count, .profile-edit-btn{
	font-weight: 600;
	font-size: 18px;
}

.gallery{
	display: inline-flex;
	flex-wrap: wrap;
	margin: 8rem 0;
	padding-bottom: 3rem;
}

.gallery-item{
	margin: 1rem;
	cursor: pointer;
}

.gallery-item-info li{
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 400;
}

.gallery-item-likes{
	margin-right: 2.2rem;
}

@media screen and (max-width:800px){
	.profile{
		display: flex;
		flex-wrap: wrap;
		padding: 4rem 0;
	}

	.profile::after{
		display: none;
	}

	.profile-img, .profile-user-settings, .profile-bio, .profile-stats{
		float: none;
		width: auto;
		margin: 5px auto;
	}

	.profile-stats li{
		display: block;
	}

	.profile-img{
		margin: 0 auto;
	}

	.profile-user-name{
		font-size: 20px;
	}
}

/*different user profile*/

.follow-btn{
	display: inline-block;
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	color: rgb(61, 60, 60);
	font-size: 16px;
	padding: 10px;
	border: none;
	width: 450px;
	border-radius: 5px;
	margin-top: 20px;
}

@media screen and (max-width:500px){
	.follow-btn{
		width: 300px;
	}
}

/*Camera page*/

.camera-container{
	max-width: 93.5rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.camera{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 3rem;
}

.camera-img{
	position: relative;
	flex: 1 0 22rem;
	margin: 1rem;
	cursor: pointer;
	text-align: center;
}

.camera-form{
	width: 50%;
	margin: 5px auto;
}

.upload-btn{
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	color: rgb(61, 60, 60);
	width: 70px;
	height: 30px;
	font-size: 16px;
	border: none;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
}

.my-input{
	margin: 0.5rem;
}

/*Search page*/

.search-component{
	display: flex;
}

.search-btn{
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	border: none;
	font-size: 14px;
	margin-left: 10px;
	border-radius: 5px;
}

.search-result-item{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 20px;
	background: rgb(241, 239, 239);
	border: 1px solid #F9F5EB;
}

.search-result-item img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.search-result-item p{
	margin: 10px 0 0 10px;
	font-size: 15px;
}

.search-result-item span{
	color: rgb(61, 60, 60);
	font-size: 12px;
	margin: 20px 0 0 20px
}

.search-result-item-btn{
	width: 100%;
	margin-top: 10px;
	margin-right: 10px;
}

.search-result-item-btn button{
	width: 80px;
	height: 30px;
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	border: none;
	font-size: 15px;
	border-radius: 5px;
	float: right;
}

/*Edit profile*/
.edit-profile-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 5px;
}

.update-profile-btn{
	display: inline-block;
	background: linear-gradient(0deg, rgb(192, 192, 228), rgb(203, 232, 203));
	color: rgb(61, 60, 60);
	font-size: 16px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

/*Single post page*/
.single-post-container{
	margin-top: 5px;
}

.logout{
	color: rgb(82, 82, 82);
}

